# dependencies
/thesis-be/node_modules
/thesis-fe/node_modules
/thesis-fe/package.json
/thesis-be/.yarn
/thesis-fe/.yarn
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
/thesis-be/.env
/thesis-be/.yarnrc.yml
/thesis-fe/.yarnrc.yml
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
